#animalBG {
    background-image: url('/images/Pet Background.jpg');
    background-size: cover;
    background-position: center;
}

.frontCard {
    background-color: none !important;
}

.pinkText {
    color: hotpink
}